.crafting {
  --clr-crafting-gui: var(--clr-bg-100);

  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  &__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.2em;
  }

  &__slot {
    width: 4em;
    height: 4em;
    background-color: var(--clr-crafting-gui);
  }

  &__output {
    display: flex;
    gap: inherit;
    align-items: center;
  }

  &__arrow {
    max-width: 6em;
    min-width: 2em;
    fill: var(--clr-crafting-gui);
  }

  &__result {
    width: 5em;
    height: 5em;
    background-color: var(--clr-crafting-gui);
  }
}

.ingridients {
  border-left: 1px solid var(--clr-fg-100);

  &__title {
    font-size: var(--fs-500);
    padding-left: 1em;
  }
}
