.section {
  background-color: var(--clr-bg-200);
  margin: 2em 0;
  padding: 1em min(2em, 5%);

  & h2,
  h3 {
    text-align: center;
    margin-bottom: 0.5em;
  }

  & h4,
  h5,
  h6 {
    border-bottom: var(--border-1);
    margin-bottom: 0.5em;
    padding: 0.2em;
  }

  & :is(p, ul, ol):not([class]) {
    margin: 0.5em min(2em, 2%);
  }
}
