.section {
  background-color: var(--clr-bg-200);
  margin: 2em 0;
  padding: 1em 2em;

  & h2,
  h3 {
    text-align: center;
    margin-bottom: 0.5em;
  }

  & h4,
  h5,
  h6 {
    border-bottom: 1px solid var(--clr-fg-100);
    margin-bottom: 0.5em;
    padding: 0.2em;
  }

  & :is(p, ul, ol):not([class]) {
    margin: 0.5em 2rem;
  }
}
