.advancements {
  display: inline-block;
  border: var(--border-1);
  background-color: var(--clr-bg-100);
  max-width: 100%;
  overflow-x: auto;

  & :is(th, td) {
    padding: 0.5em;

    &:first-child {
      padding: 0.2em;
    }
  }

  &__header {
    background-color: var(--clr-bg-200);
  }

  &__icon {
    padding: 5%;
    height: 5em;
    width: 5em;

    &--normal {
      background: transparent url(/images/advancements/normal.png) no-repeat;
      background-size: contain;
      image-rendering: pixelated;
    }

    &--goal {
      background-image: url(/images/advancements/goal.png);
    }
  }
}
