@use '../abstract' as *;

html {
  scroll-behavior: smooth;
}

body {
  background: fixed url(/images/Background720p.jpg) no-repeat;
  background-size: cover;
  background-position-x: center;
  @include mq(small) {
    background-image: url(/images/Background1080p.jpg);
  }
}

.center-wrapper {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

.image {
  &--block {
    width: 100%;
    padding: 15%;
  }

  &--item {
    width: 100%;
    padding: 10%;
    image-rendering: crisp-edges;
  }
}

table {
  border-collapse: collapse;
}

tr:not(:last-child) {
  border-bottom: var(--border-1);
}

th,
td {
  padding-inline: 0.5em;
  text-align: start;

  &:not(:last-child) {
    border-right: var(--border-1);
  }
}
