---
layout: layouts/base
title: Experience Transfer Table
permalink: /mods/experience-flask-mod/experience-transfer-table/index.html
redirectFrom: /xp-transfer-table
---

<section class="section" aria-labelledby="page-title">
  <h2 id="page-title">{{ title }}</h2>
  <div class="about-object">
    <div class="toc">
      <span class="toc__title">Content</span>
      <ol>
        <li>
          <a class="toc__link" href="#obtaining-title">Obtaining</a>
          <ol>
            <li><a class="toc__link" href="#crafting-title">Crafting</a></li>
          </ol>
        </li>
        <li>
          <a class="toc__link" href="#usage-title">Usage</a>
          <ol>
            <li><a class="toc__link" href="#transfering-xp-title">Transfering XP</a></li>
          </ol>
        </li>
        <li>
          <a class="toc__link" href="#advancment1">Transfering...</a>
        </li>
      </ol>
    </div>
    <div class="about-object__details">
      <p>
        A block that lets you transfer your own experience into an
        <a href="/xp-flask">Experience Flask</a> that is placed on the table.
      </p>
      <div class="object-display">
        <span class="object-display__title">{{ title }}</span>
        <img
          class="object-display__image image--block"
          src="/images/sprites/experience_transfer_table.png"
          alt="Experience Transfer Table block model"
        />
        <table class="object-display__table">
          <tr>
            <th>Rarity color</th>
            <td>Common</td>
          </tr>
          <tr>
            <th>Renewable</th>
            <td>No</td>
          </tr>
          <tr>
            <th>Stackable</th>
            <td>Yes (64)</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="section" aria-labelledby="obtaining-title">
  <h3 id="obtaining-title">Obtaining</h3>
  <h4 id="crafting-title">Crafting</h4>
  {% crafting recipes.experiencetransfertable %}
</section>

<section class="section" aria-labelledby="usage-title">
  <h3 id="usage-title">Usage</h3>
  <h4 id="transfering-xp-title">Transfering XP</h4>
  <p>
    To transfer any xp, you first have to right click the table with an
    <a href="/xp-flask">Experience Flask</a> in your hand. Then you can extract one level at a time
    by right clicking on the table or you can input all your levels by crouching and right clicking.
  </p>
</section>

<section class="section" aria-labelledby="advancments-title">
  <h3 id="advancments-title">Advancments</h3>
  <h4 id="advancment1">Transfering...</h4>
  <p>Transfer experience into an Experience Flask placed on an Experience Transfer Table.</p>
</section>
