---
layout: 'layouts/base'
title: 'Experience Transfer Table'
permalink: 'mods/experience-flask-mod/experience-transfer-table.html'
redirectFrom: '/xp-transfer-table'
---

<section class="section" aria-labelledby="page-title">
  <h2 id="page-title">{{ title }}</h2>
  <p>
    A block that lets you transfer your own experience into an
    <a href="/xp-flask">Experience Flask</a> that is placed on the table.
  </p>
  <div class="toc">
    <span class="toc__title">Content</span>
    <ol>
      <li>
        <a href="#obtaining-title" class="toc__link">Obtaining</a>
        <ol>
          <li><a href="#crafting-title" class="toc__link">Crafting</a></li>
        </ol>
      </li>
      <li>
        <a href="#usage-title" class="toc__link">Usage</a>
        <ol>
          <li><a href="#transfering-xp-title" class="toc__link">Transfering XP</a></li>
        </ol>
      </li>
    </ol>
  </div>
</section>

<section id="section" class="section" aria-labelledby="obtaining-title">
  <h3 id="obtaining-title">Obtaining</h3>
  <h4 id="crafting-title">Crafting</h4>
  {% crafting recipes.experiencetransfertable %}
</section>

<section id="section" class="section" aria-labelledby="usage-title">
  <h3 id="usage-title">Usage</h3>
  <h4 id="transfering-xp-title">Transfering XP</h4>
  <p></p>
</section>
