$colors: (
  bg: (
    100: hsl(0, 0%, 10%, 0.5),
    200: hsl(0, 0%, 10%, 0.7),
    300: hsl(0, 0%, 10%, 0.8),
    400: hsl(0, 0%, 10%, 0.9),
    500: hsl(0, 0%, 10%),
    600: hsl(0, 0%, 0%),
  ),
  fg: (
    100: hsl(0, 0%, 100%),
    300: hsl(0, 0%, 50%),
  ),
);
