---
layout: layouts/base
title: MrNinjaPowha - Search
permalink: /search/index.html
---

<div class="section">
  <div class="search-page">
    <div class="search-page__bar">
      <img class="search-page__icon" src="/images/search-icon.svg" alt="" />
      <input type="search" class="search-page__input" placeholder="Search..." />
    </div>
    <div class="search-page__result-list"></div>
  </div>
</div>
